<h1> New author form </h1>
<%= form_with model: @author do |f| %>
  <% @author.errors.full_messages.each do |error| %>
    <dt> • <%= error %> </dt>
  <% end %>
  <dt> <%= f.label :name %> <%= f.text_field :name %> </dt>
  <dt> <%= f.label :citizenship %> <%= f.text_field :citizenship %> </dt>
  <dt> <%= f.submit %> </dt>
<% end %>