<h1> New author form </h1>
<%= form_with model: @author do |f| %>
  <dt> <%= f.label :name %> <%= f.text_field :name %> </dt>
  <dt> <%= f.label :nationality %> <%= f.text_field :nationality %> </dt>
  <dt> <%= f.submit %> </dt>
<% end %>