<h4> Authors you might be searching </h4>
<% if @authors.empty? %>
  <p> No valid authors were found </p>
<% else %>
  <% @authors.each do |author| %>
    <dl> <%= link_to author.name, author_path(author) %> </dl>
  <% end %>
<% end %>

<h4> Books you might be searching </h4>
<% if @books.empty? %>
  <p> No valid books were found </p>
<% else %>
  <% @books.each do |book| %>
    <dl>
      <dt> <%= link_to book.title, book_path(book) %> </dt>
      <dt> Description: <%= book.description %> </dt>
      <dt> Author: <%= book.author.name %> </dt>
      <dt> Genre: <%= book.genre.title %> </dt>
    </dl>
  <% end %>
<% end %>

<%= link_to 'Back to home page', root_path %>

<style>
* {
  color: green;
}
</style>