<h2> <%= @book.title %> </h2>
<dl>
  <dt> Description: <%= @book.description %> </dt>
  <dt> Author: <%= link_to @book.author.name, author_path(@book.author) %> </dt>
  <dt> Genre: <%= @book.genre.title %> </dt>
</dl>
<%= link_to 'Back to home page', root_path %>