<!DOCTYPE html>
<html>
  <head>
    <title>Am4zon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= current_user.email %> is logged in as User
      &emsp;
      <%= link_to 'Log out', destroy_user_session_path , method: :delete %>
      &emsp;
      <%= link_to 'My Account', user_path(current_user) %>
    <% elsif admin_signed_in? %>
      <%= current_admin.email %> is logged in as Admin
      &emsp;
      <%= link_to 'My Control Panel', admin_path(current_admin) %>
      &emsp;
      <%= link_to 'Log out', destroy_admin_session_path , method: :delete %>
    <% else %>
      <%= link_to 'Create new User account', new_user_registration_path %>
      &emsp;
      <%= link_to 'Login as User', new_user_session_path %>
      &emsp;
      <%= link_to 'Create new Admin account', new_admin_registration_path %>
      &emsp;
      <%= link_to 'Login as Admin', new_admin_session_path %>
    <% end %>
    &emsp;
    <%= link_to 'Home page', root_path %>
    <div>
    <%= form_with url: search_path do |f| %>
      <%= f.label :search %> <%= f.text_field :search %>
      <%= f.submit 'Search' %>
    <% end %>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>
